<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript%}

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-warning ">
        <div class="container-fluid">
            <a class="navbar-brand" href="inicio.html">Jardineria Vecinal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="sobrenosotros.html">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="catalogo.html">Catalogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pedidos.html">Pedidos</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto p-5 text-center">
                {% if usuario %}
                <h1>Modificar Usuario</h1><br>
                <form action="{% url 'actualizarUsuario' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="rut" class="form-label">Rut</label>
                        <input type="text" name="rut" id="rut" value={{usuario.rut}} class="form-control">
                    </div>
                    <div>
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" name="nombre" id="nombre" value={{usuario.nombre}} class="form-control">
                    </div>
                    <div>
                        <label for="appPaterno" class="form-label">Apellido Paterno</label>
                        <input type="text" name="appPaterno" id="appPaterno" value={{usuario.appPaterno}}
                            class="form-control">
                    </div>
                    <div>
                        <label for="appMaterno" class="form-label">Apellido Materno</label>
                        <input type="text" name="appMaterno" id="appMaterno" value={{usuario.appMaterno}}
                            class="form-control">
                    </div>
                    <div>
                        <label for="tipoUsuario" class="form-label">Tipo Usuario</label>
                        <select name="tipoUsuario" id="tipoUsuario" class="form-control">
                            {% for tipoUser in tipo %}
                            {% if usuario.tipoUsuario.tipoUsuario == tipoUser.tipoUsuario %}
                            <option value="{{tipoUser.idTipoUsuario}}" selected>{{tipoUser.tipoUsuario}}</option>
                            {% else%}
                            <option value="{{tipoUser.idTipoUsuario}}">{{tipoUser.tipoUsuario}}</option>
                            {% endif%}
                            {% endfor%}
                        </select>
                    </div>
                    <div>
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" name="correo" id="correo" value={{usuario.correo}} class="form-control">
                    </div>
                    <div>
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" name="direccion" id="direccion" class="form-control">
                    </div><br><br>
                    <input type="submit" name="opcion" value="Modificar" class="btn btn-warning">
                    <a href="{% url 'crud' %}"><button type="button" class="btn btn-secondary">Volver</button></a>
                </form><br><br>
                <div id="idMensajes">
                    {% if mensaje%}
                    {{mensaje}}
                    {% endif%}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="row p-0 pb-0 bg-dark text-white ">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h5">Jardineria Vecinal</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h5 mb-2">Redes sociales</p>
        <div class="mb-0">
          <a class="text-white text-decoration-none" href="">Instagram</a>
        </div>
        <div class="mb-0">
          <a class="text-white text-decoration-none">Facebook</a>
        </div>
        <div class="mb-0">
          <a class="text-white text-decoration-none">Twitter</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <p class="h5">Contacto</p>
        <p>Número:+56 935544987</p>
      </div>
    </div>
  </footer>
</html>